.dialog{
    &-title{
        text-align: center;
        font-weight: 600;
        font-size: 28px;
        color:#10B981;
    }
    &-content{
        font-weight: 400;
        font-size: 18px;
        line-height: calc(21.6/18);
        color: #000000;
        text-align: center;
    }
    &-btn-success{
        background-color: red;
    }
    &-btn-fail{
        padding:10px 20px;
    }
}
.dialog-btn-fail{
    font-weight: 600;
    font-size: 16px;
    color: #323A46;
    line-height: calc(19/16);
    background-color: #E7EAEE;
}