.login{
    position: relative;
    &-image{
        width: 150%;
        margin-left: -277px;
        margin-top: -10px;
    }
    &-form{
        // position: absolute;
        // top:0px;
        // left: 200px;
        background-color: red;
}
}
